html {
    background-image: url("../images/background.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: "Helvetica Neue", sans-serif;
}

.profile-box {
    width: 400px;
    height: 400px;
    background: rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 15px;
    margin: auto;
    color: white;
    margin-top: 100px;
    text-align: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

h1 {
    font-weight: lighter;
    font-size: 35px;
}

h3 {
    font-weight: lighter;
}

h4 {
    font-weight: lighter;
}

.social-links {
    font-size: 40px;
    margin-top: 50px;
}

.profile-box a {
    color: white;
    text-decoration: none;
}
